<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>C++ by Example</title>
    <link rel=stylesheet href="site.css">
  </head>

  <body>

    <div class="example">
      <h2>Example: Example Name</h2>

      <table class="example">
        $Block
      </table>
      <p>
        Next example: Next Example Name
      </p>

      <p class="footer">homepage | feedback | source | license</p>

    </div>
  </body>
</html>
